<ion-view title="Login">
    <ion-content>
        <div class="spacer" style="height: 100px;"></div>
        <form>
        	<div class="col col-75 col-offset-25">
            	<h1>Booking</h1>
            </div>
            <div class="list">
			  <label class="item item-input">
			    <span class="input-label">Username</span>
			    <input type="text">
			  </label>
			  <label class="item item-input">
			    <span class="input-label">Password</span>
			    <input type="password">
			  </label>
			</div>
            <div class="spacer" style="height: 20px;"></div>
            <div class="button-bar">
			  <a href="#" class="button button-large button-icon button-clear ion-social-twitter"></a>
			  <a href="#" class="button button-large button-icon button-clear ion-social-facebook"></a>
			  <a href="#" class="button button-large button-icon button-clear ion-social-vimeo"></a>
			</div>
            <div class="col col-33 col-offset-33">
            	<a href="#/menu/news" class="button button-energized button-block">Log in</a>
            </div>
        </form>
    </ion-content>
</ion-view>