<ion-view title="New Booking">
	<ion-content>
		<form>
			<div class="spacer" style="height: 40px;"></div>
        	<div class="list">
			  <label class="item item-input">
			    <input type="text" placeholder="Date">
			  </label>
			  <label class="item item-input">
			    <input type="text" placeholder="Time">
			  </label>
			  <label class="item item-input">
			    <textarea placeholder="Service"></textarea>
			  </label>
			</div>
            <div class="spacer" style="height: 10px;"></div>
            <div class="col col-33 col-offset-33">
            	<a href="#" class="button button-energized button-block">Booked</a>
            </div>
        </form>
	</ion-content>
</ion-view>